body{
    padding : 0px ;
    margin : 0px;
}
section{
    background: linear-gradient(to right bottom, #EFDF31 50%, #2A4789 50%);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height : 100vh;

}



div {
    border : 1px white solid;
    font-family: sans-serif;
    background: linear-gradient(180deg, #ffffff, #ffffff, #2A4789, #2A4789);
    background-position:0% 100%;
    background-size: 400% 400%;
    color : white ;
   font-size : 13px;
    text-align: center;
    width : 120px;
    height : 32px;
    transition : all 0.3s;
    box-shadow : 0px 17px 10px -10px rgba(0,0,0,0.8);




}

div a {
    color : white;
}

form{
    margin-top : 30%;
}

form input{
    margin-bottom : 8px;
}

h3{
    position : relative;
    top : 5px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
}

.button:hover{
    transform: translate(0px, -10px);
    box-shadow : 0px 27px 10px -15px rgba(0,0,0,0.7);
    cursor: pointer;

}


@keyframes expend {
    0% { height : 32px ; width : 120px; }


    100% {height : 500px ; width : 450px; }

}

@keyframes color {
    0%{background-position:0% 100%; color : white; font-size : 13px; }
    100%{background-position:100% 0%; color :#2A4789; font-size : 17px;  }





}


.animation{
    animation-name: expend ;
    animation-duration: 0.5s ;
    height: 500px;
    width : 450px;


}

.colored{


    background-position : 100% 0%;
    animation: color 1s ease;
    color : #2A4789;
    font-size : 17px;
    transition: box-shadow 1s;
    box-shadow: -10px 9px 15px 0px rgba(0,0,0,0.75);

}